
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
    font-size: 16px;
    color: #fff;
    background-color: #004c4c; /* Deep Teal */
    font-family: 'oxygen', sans-serif;
}

.navbar-brand h1,img{
    display: flex;
    align-items: center;
}

.navbar-brand img {
    background: url('C:\Users\PMLS\Downloads\download (1).png') no-repeat;
    width: 200px;
    height: 200px;
    margin-right: 15px;
}

.navbar-brand h1 {
    font-family: 'Open Sans', serif;
    color: black; /* Gold */
    font-size: 2em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #666; /* Light shadow for depth */
    margin: 0;
    line-height: 1;
    padding-top: 5px;
}


.navbar-brand p {
    color: #004c4c; /* Light gray for the paragraph text */
    text-transform: uppercase;
    font-size: 0.9em;
    margin-top: 10px;
}

#header-nav.navbar {
    min-height: 50px;
    background-color: #585858; /* Deep Teal for the header */
    border-radius: 8px;
    border: 0;
    margin-right: 0;
    padding: 15px;
}

.navbar-brand {
    padding-top: 1px;
    margin-right: 15px;
}

#navbarToggleExternalContent {
    background-color: #808000; /* Gold for consistency */
    padding: 5px;
    border-radius: 8px;
    height: 100px;
}

#navbarToggleExternalContent ul {
    list-style: none;
    margin: 0;
    padding: 0;

}

#navbarToggleExternalContent li {
    display: inline-block;
    margin-right: 15px;
}

#navbarToggleExternalContent a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s;
}

#navbarToggleExternalContent a:hover {
    color: #004c4c; /* Gold on hover for a subtle effect */
}
.jumbotron img{
    border-image-outset: black;
    padding-top: 10px;
    border-radius: 8px ;
}

#menu-tile, #specials-tile, #map-tile{
    height: 250px;
    width: 100%;
    margin-top: 17px;
    margin-bottom: 15px;
    position: relative;
    border:2px solid #808000;
    overflow: hidden;


}
#menu-tile:hover, #specials-tile:hover, #map-tile:hover{
    box-shadow: 0 1px 5px 1px #cccccc;
}
#specials-tile{
    background: url('C:\Users\PMLS\Downloads\specials.jpg') no-repeat;
    background-position: center;
    background-size: cover;
}
#menu-tile{
    background: url('C:\Users\PMLS\Downloads\menu.jpg');
    background-position: center;
    background-size: cover;
}
#menu-tile span, #specials-tile span, #map-tile span{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 1.6em;
    text-transform: uppercase;
    background-color: #000;
    color: #808000;
    opacity: .8;
}

.category-title{
    position: relative;
    border: 2px solid #3F0C1F;
    overflow: hidden;
    width: 200px;
    height: 200px;
    margin: 0 auto 15px;

}
.category-title span{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    opacity: .8;

}
.category-title:hover{
    box-shadow: 0 1px 5px 1px #cccccc;
}
#menu-categories-title+div{
    margin-bottom: 50px;
}
#menu-tile, #specials-tile{
    width: 360px;
    margin:15px auto;

}

.panel-footer{
    margin-top: 30px;
    padding-top: 35px;
    padding-bottom: 30px;
    background-color: #222;
    border-top: 0;
}
#hours > span, #address > span{
    font-size: 1.3em;
}
#address p{
    color: yellow;
    font-size: .8em;
    line-height: 1.6;
}

.menu-item-tile{
    margin-bottom: 25px;
}
.menu-item-tile hr{
    width: 80%;
}
.menu-item-tile , .menu-item-price{
    font-size: 1.1em;
    text-align: right;
    margin-top: -15px;
    margin-right: -15px;
}
.menu-item-tile , .menu-item-price span{
    font-size: .8em;
}
.menu-item-photo{
    position: relative;
    border: 2px solid #3F0C1F;
    overflow: hidden;
    padding:0;
    margin-right: -15px;
    margin-left: auto;
    margin-bottom: 20px;
    max-width: 250px;
}
.menu-item-photo div{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 80px;
    background-color: #557c3e;
    text-align: center;
}
.menu-item-description{
    padding-right: 30px;

}
h3.menu-item-title{
    margin: 0 0 10px;
    text-transform: uppercase;
}
.menu-item-details{
    font-size: 1.1em;
    font-style: italic;
}

@media (max-width: 767px) {
    #menu-tile, #specials-tile {
        width: 100%; /* Set to 100% width on small devices */
        max-width: 250px; /* You can adjust the max-width as needed */
        margin: 15px auto;
        height: 200px;
    }
    .navbar-brand img {
        display: none; /* Hide the image on small devices */
    }

    .jumbotron img{
        height: 300px;
    }
    .panel-footer section{
        margin-bottom: 30px;
        text-align: center;
    }
    .panel-footer section:nth-child(3){
        margin-bottom: 0;
    }
    .menu-item-photo{
        margin-right: auto;
    }
    .menu-item-tile .menu-item-price{
        text-align: center;
    }
    .menu-item-description{
        text-align: center;
    }
}